.App {
  background-color: rgb(52, 175, 228);
  min-height: 100vh;
  padding: 10px 20px;
}

.my-heading {
  display: flex;
  align-items: center;
}

.todo-title {
  margin-right: 15px;
}

.my-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.tasks-container.card {
  background-color: lightgrey;
  flex-grow: 1;
  margin: 0 5px;
}

.task-title-input {
  margin: 0 0 10px 5px;
}

.task {
  margin: 5px
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  background-color: transparent;
  border: none;
}
